@import url('https://fonts.cdnfonts.com/css/cocogoose');

.contact-description {
  font-family: 'lato', sans-serif;
  font-size: 17px;
  text-align: center;
  margin: 10px 10px;
  color: #272a31;
}

.mailto {
  font-family: 'lato', sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: #272a31;
  cursor: pointer;
  margin-bottom: 40px;
}

.creative-logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creative-logo-title,
.past-title {
  font-family: 'lato', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 0 15px;
  color: #272a31;
}

.creative-description,
.past-description {
  font-family: 'lato', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #272a31;
  padding: 0 15px;
}

.past-events {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.past-event-lc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.past-event-link {
  width: 300px;
  height: 180px;
}

.past-event-lc a {
  text-decoration: none;
  text-align: center;
  width: 300px;
  margin: 0 10px 20px 10px;
}

.logo-con {
  width: 300px;
  height: 100px;
  border: 2px solid rgb(194, 194, 194);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 856px) {
  .past-event-link,
  .past-event-lc a {
    width: 400px;
    height: 250px;
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .contact-description,
  .mailto {
    font-size: 25px;
  }

  .creative-logo-title,
  .past-title,
  .creative-description,
  .past-description {
    font-size: 26px;
    padding: 10px 10px;
  }

  .creative-logo-section,
  .past-events {
    padding: 50px 20px 0 20px;
  }

  .past-event-lc {
    height: 400px;
    flex-direction: row;
    justify-content: center;
    margin: 0 60px;
  }

  .logo-con {
    width: 400px;
    height: 160px;
  }

  footer.footer-about {
    background-color: #272a31;
  }

  .copy-right.about {
    color: #fff;
  }
}
