@import url('http://fonts.cdnfonts.com/css/cocogoose');

html,
body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
}

.hamb-icon {
  width: 30px;
  height: 30px;
  margin-top: 12px;
  margin-left: 20px;
  cursor: pointer;
}

.menu-links {
  display: none;
}

ul li {
  list-style-type: none;
}
header,
.headline {
  background-image: url(../images/backg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.headline {
  display: flex;
  flex-direction: column;
}

.main-title::before {
  content: '"Hello! Sharing World"';
  text-transform: none;
  display: block;
  font-size: 20px;
  font-weight: normal;
  font-family: 'lato';
}

.main-title{
  font-family: 'COCOGOOSE', 'lato';
  font-weight: normal;
  text-transform: uppercase;
  font-size: 35px;
  color: #ec5242;
  margin-left: 15px;
}

.headline-description {
  font-family: 'lato';
  padding: 10px;
  border: 2px solid #fff;
  align-self: center;
  margin:0 15px;
}

.event-date {
  margin-left: 15px;
  color: #272a31;
  font-family: 'COCOGOOSE', 'lato';
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 50px;
}

.main-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/program.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-program-title {
  font-family: 'COCOGOOSE', 'lato';
  font-weight: normal;
  font-size: 16px;
  color: #fff;
}

.orange-line {
  width: 10%;
  border-color: #ec5242;
  background-color: #ec5242;
  margin: 0;
}

.program-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.lectures {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:hsla(0, 0%, 100%, 0.61);
  margin: 5px 15px;
}

.lectures-img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.lectures-title {
  font-family: 'COCOGOOSE', 'lato';
  font-weight: normal;
  font-size: 14px;
  color: #ec5242;
}

.lectures-description {
  margin: 10px;
  font-family: 'COCOGOOSE', 'lato';
  font-weight: normal;
  font-size: 10px;
}

.main-program-btn {
  cursor: pointer;
  width: fit-content;
  height: 50px;
  background-color: #ec5242;
  color: #fff;
  border: none;
  margin: 5px 0 40px 0;
}