@import url('https://fonts.cdnfonts.com/css/cocogoose');

html,
body {
  margin: 0;
  padding: 0;
}

.hamb-icon {
  width: 30px;
  height: 30px;
  margin-top: 12px;
  margin-left: 20px;
  cursor: pointer;
}

.menu-list {
  margin: 15px 0;
}

.hamb-close-btn {
  width: 20px;
  height: 20px;
  padding-right: 20px;
}

.menu-list.close {
  align-self: flex-end;
  margin-top: 0;
}

.menu-link {
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 18px;
  color: #ec5242;
  text-decoration: none;
  cursor: pointer;
}

ul li {
  list-style-type: none;
}

.headline,
nav {
  background-image: url(../images/backg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.headline {
  display: flex;
  flex-direction: column;
}

.headline.about-me-page {
  align-items: center;
}

.main-title::before {
  content: '"Hello! Sharing World"';
  text-transform: none;
  display: block;
  font-size: 20px;
  font-weight: normal;
  font-family: 'lato', sans-serif;
}

.main-title.about-me-page::before {
  text-align: center;
}

.main-title {
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 35px;
  color: #ec5242;
  margin-left: 15px;
}

.main-title.about-me-page {
  text-align: center;
  margin: 0 4%;
}

.headline-description {
  font-family: 'lato', sans-serif;
  font-size: 19px;
  padding: 10px;
  border: 2px solid #fff;
  align-self: center;
  margin: 0 15px;
  color: #272a31;
}

.headline-description.about-me-page {
  text-align: center;
  background-color: #fff;
  color: #272a31;
}

.event-date {
  margin-left: 15px;
  color: #272a31;
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 50px;
}

.main-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/program.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-program-title {
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 20px;
  color: #fff;
}

.orange-line {
  width: 10%;
  border-color: #ec5242;
  background-color: #ec5242;
  margin: 0;
}

.program-list {
  margin: 0 10px;
  margin-top: 40px;
  padding:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 519px;
  min-height: 117px;
}

.lectures {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.123);
  margin: 4.5px 0;
}

.lectures-img {
  width: 35px;
  height: 35px;
  padding: 0 15px;
}

.lectures-title {
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 15px;
  color: #fd513e;
  text-align: center;
  min-width: 69px;
  margin: 0 5px;

}

.lectures-description {
  margin: 20px;
  font-family: 'lato', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}

.main-program-btn {
  cursor: pointer;
  width: fit-content;
  height: 50px;
  background-color: #ec5242;
  color: #fff;
  border: none;
  margin: 30px 0 40px 0;
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: normal;
  font-size: 15px;
  padding: 15px;
}

.speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speakers-section-title {
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 20px;
  color: #272a31;
}

.speaker-container {
  display: flex;
  margin: 40px 0;
}

.speaker-info {
  display: flex;
  flex-direction: column;
}

.deco-img {
  width: 60px;
  height: 60px;
  position: relative;
  top: -16px;
  left: 60px;
  z-index: 0;
  margin: 0;
  padding: 0;
}

.speaker-img {
  justify-self: flex-start;
  width: 100px;
  height: 100px;
  margin: 0 15px;
  z-index: 2;
}

.speaker-name {
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #272a31;
  margin: 0;
}

.speaker-about {
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #ec5242;
  margin-bottom: 0;
  font-style: italic;
  text-transform: lowercase;
}

.speaker-about::after {
  display: block;
  width: 15px;
  height: 2px;
  background-color: #d3d3d3;
  content: '';
  margin: 5px 0;
}

.talk-about {
  margin: 0;
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #272a31;
}

.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #424146;
  background-image: url(../images/program.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.partner-title {
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #fff;
}

.partners-container {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
}

.partner-img {
  width: 100px;
  height: 100px;
  margin: 0 15px;
  filter: grayscale(1);
  transition: transform 300ms ease-in;
}

.partner-img:hover {
  transform: scale(1.1);
  filter: none;
}

footer {
  display: flex;
  justify-content: space-around;
}

.logo {
  text-decoration-line: none;
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #ec5242;
  padding: 10px 10px;
  text-align: center;
  margin: 30px 10px;
}

.copy-right {
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin: 50px 0;
  text-align: center;
}

@media (max-width: 766px) {
  nav .logo {
    display: none;
  }

  .user-bar {
    display: none;
  }

  .menu-links {
    height: 95%;
    position: fixed;
    top: -150%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.685);
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    margin: 0;
    z-index: 100;
    backdrop-filter: blur(10px);
    transition: top 400ms cubic-bezier(0.57,-0.01, 0.15, 1.03);
  }

  .open {
    top: 0;
  }
  
  .speaker-container {
    position: relative;
    right: 40px;
  }
}

@media (min-width: 766px) {
  nav {
    background: #fff;
  }
  
  .hamb-icon {
    display: none;
  }

  .user-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #272a31;
    height: 32px;
  }

  .user-bar-link {
    text-decoration: none;
    font-family: 'lato', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    padding: 0 20px;
    cursor: pointer;
  }

  .user-bar-smedia {
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 0 20px;
  }

  nav {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    box-shadow: inset #d3d3d3 1px 1px 7px 0px;
  }

  .menu-list.close {
    display: none;
  }

  .menu-links {
    display: flex;
    position: static;
    box-shadow: none;
    border-radius: 0;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }

  .menu-link {
    font-size: 13px;
    color: #535353;
    padding: 20px 15px;
    margin: 0 15px;
  }

  .menu-link:hover {
    color: #ec5242;
  }

  .menu-list.homepage {
    display: none;
  }

  .main-title::before {
    font-size: 35px;
  }

  .main-title {
    font-size: 50px;
    margin: 2em;
    margin-bottom: 0;
  }

  .headline-description {
    font-size: 25px;
    margin: 3em;
    margin-top: 1.5em;
  }

  .event-date {
    font-size: 40px;
    margin-left: 12%;
  }

  .main-program-title,
  .speakers-section-title,
  .partner-title {
    font-size: 26px;
  }

  .program-list {
    flex-direction: row;
    max-width: none;
    min-height: 300px;
    margin: 0 2%;
  }

  .lectures {
    flex-direction: column;
    align-items: center;
    margin: 0 2px;
    min-height: 260px;
    max-width: 215px;
  }

  .lectures-title {
    font-size: 17px;
  }

  .lectures-description {
    margin: 11px;
    font-size: 16px;
  }

  .main-program-btn {
    margin-top: 40px;
  }

  .grid-container {
    display: grid;
    grid: repeat(2, 1fr)/ repeat(2, 1fr);
    gap: 20px;
  }

  .speaker-img {
    width: 150px;
    height: 150px;
  }

  .deco-img {
    width: 70px;
    height: 80px;
  }

  .speaker-name {
    font-size: 20px;
  }

  .speaker-about {
    font-size: 18px;
  }

  .talk-about {
    font-size: 16px;
  }

  .partner-img {
    margin: 0 30px;
  }

  .copy-right {
    font-size: 18px;
  }

  .main-title.about-me-page {
    margin: 25px 5%;
  }

  .headline-description.about-me-page {
    margin-bottom: 50px;
    margin-top: 25px;
  }
}
